.explainInput {
  max-width: 790px;
  padding: 0 15px;
}

.showWorkFlow {
  box-sizing: border-box;
  border-radius: 8px 8px 8px 8px;
  opacity: 1;
  border: 1px solid #e2ebee;
  overflow: auto;
  min-height: 97px !important;
  padding: 10px 1.4rem 10px 10px;
  padding-bottom: 40px;
}
.textarea {
  height: 30px;
  resize: none;
  min-height: 30px;
  max-height: 140px;
  padding: 4px 0;
  border: none !important;
  outline: none !important;

  &:focus {
    box-shadow: none;
  }
}

.workFlowInput {
  //   position: absolute;
  //   top: 10px;
  //   left: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 28px;
  background: #f3f3f6;
  border-radius: 4px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 14px;
  color: #192d4f;
  margin-bottom: 10px;
  .close {
    width: 14px;
    height: 14px;
    background-color: #ccc;
    margin-left: 14px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;

  .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4px;
    background: #f3f3f6 !important;
  }

  .submit {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-color: #ccc;
    cursor: pointer;
  }
}
